<html>
      <head>
          <style>
              body {background-color:cadetblue; font-family: 'Courier New', Courier, monospace ; padding: 30px}
          </style>
      </head>  
            <body>
                <p>Request recevied </p>
                <p>You contacted <%= data.who %> </p>
                <p>Your Departments <%= data.dept %> </p>
                    <p>Your Email <%= data.email %> </p>

            </body>
     
</html>