<html>
      <head>
          <style>
              body {background-color:cadetblue; font-family: 'Courier New', Courier, monospace ; padding: 30px}
          </style>
            <body>
                <p>Welcome to contact page</p>
                <p><%=  qs.language %> </p>
                <p><%=  qs.name %> </p>
            </body>
      </head>  
</html>